<div
  class="min-h-screen flex items-center justify-center
         bg-gradient-to-br from-indigo-600
         to-purple-700 p-6"
>

  <div
    class="bg-white w-full max-w-md
           rounded-2xl shadow-2xl p-8"
  >

    <h1
      class="text-3xl font-bold text-center"
    >
      Create Account
    </h1>


    <p
      class="text-center text-gray-500
             mt-2 mb-7"
    >
      Create your mail client account
    </p>


    @if (errorMessage) {

      <div
        class="bg-red-100 text-red-700
               p-3 rounded-lg mb-4"
      >
        {{ errorMessage }}
      </div>

    }


    @if (successMessage) {

      <div
        class="bg-green-100 text-green-700
               p-3 rounded-lg mb-4"
      >
        {{ successMessage }}
      </div>

    }


    <form (ngSubmit)="signup()">


      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"

        class="w-full border rounded-lg
               px-4 py-3 mb-4"
      />


      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"

        class="w-full border rounded-lg
               px-4 py-3 mb-4"
      />


      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"

        class="w-full border rounded-lg
               px-4 py-3 mb-4"
      />


      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm password"

        class="w-full border rounded-lg
               px-4 py-3 mb-6"
      />


      <button
        type="submit"

        class="w-full bg-indigo-600
               hover:bg-indigo-700
               text-white font-semibold
               py-3 rounded-lg"
      >
        Sign Up
      </button>

    </form>


    <p
      class="text-center mt-6 text-gray-600"
    >

      Already have an account?

      <a
        routerLink="/"

        class="text-indigo-600
               font-semibold
               hover:underline"
      >
        Login
      </a>

    </p>

  </div>

</div>